// Variables
@import 'markdown';

@import "tailwindcss/base";

@import "tailwindcss/components";
 .btn {
    @apply py-2 px-4 rounded text-sm;
  }

  .btn:hover {
    @apply transition-all duration-500;
  }

  .btn-indigo {
    @apply bg-indigo-600 text-white;
  }

  .btn-indigo:hover {
    @apply bg-indigo-700;
  }

  .btn-purple {
    @apply bg-purple-600 text-white;
  }

  .btn-purple:hover {
    @apply bg-purple-700;
  }

  .btn-yellow {
    @apply bg-yellow-700 text-white;
  }

  .btn-yellow:hover {
    @apply bg-yellow-800;
  }

  .btn-red {
    @apply bg-red-600 text-white;
  }

  .btn-red:hover {
    @apply bg-red-700;
  }

  .btn-blue {
    @apply bg-blue-700 text-white;
  }

  .btn-blue:hover {
    @apply bg-blue-800;
  }

  .btn-teal {
    @apply bg-teal-600 text-white;
  }

  .btn-teal:hover {
    @apply bg-teal-700;
  }

  .btn-green {
    @apply bg-green-600 text-white;
  }

  .btn-green:hover {
    @apply bg-green-700;
  }

  .btn:focus {
    outline: none;
  }

  .span-icon {
    @apply rounded-full px-2 py-1;
  }

  .svg-icon {
    @apply text-white;
  }

@import "tailwindcss/utilities";

/*! purgecss start ignore */
body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  font-family: DIN,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
  
.v--modal {
    background-color: #1A1C33 !important;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    left: 0 !important;
}

.toasted {
  border-radius: 2em !important;
  padding: 20px !important;
}

.toasted .primary.success, .toasted.toasted-primary.success {
  background: #38A169 !important;
}
/*! purgecss end ignore */