@charset "UTF-8";

.markdown_css a {
  color: #0645ad;
  text-decoration: none;
}

.markdown_css a:visited {
  color: #0b0080;
}

.markdown_css a:hover {
  color: #06e;
}

.markdown_css a:active {
  color: #faa700;
}

.markdown_css a:focus {
  outline: thin dotted;
}

.markdown_css a:hover,
.markdown_css a:active {
  outline: 0;
}

.markdown_css ::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

.markdown_css ::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

.markdown_css a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

.markdown_css a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

.markdown_css p {
  margin: 1em 0;
  word-break: break-word;
}

.markdown_css img {
  max-width: 100%;
  border-radius: 10px;
  -ms-interpolation-mode: bicubic;
  margin: 0 auto;
}

.markdown_css h1,
.markdown_css h2,
.markdown_css h3,
.markdown_css h4,
.markdown_css h5,
.markdown_css h6 {
  font-weight: normal;
  line-height: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdown_css h4,
.markdown_css h5,
.markdown_css h6 {
  font-weight: bold;
}

.markdown_css h1 {
  font-size: 2.5em;
}

.markdown_css h2 {
  font-size: 2em;
}

.markdown_css h3 {
  font-size: 1.5em;
}

.markdown_css h4 {
  font-size: 1.2em;
}

.markdown_css h5 {
  font-size: 1em;
}

.markdown_css h6 {
  font-size: 0.9em;
}

.markdown_css blockquote {
  background: #00b1b3;
  opacity: 0.7;
  border-left: 10px solid #009fa1;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}

.markdown_css blockquote p {
  display: inline;
}

.markdown_css blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.markdown_css blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.markdown_css hr {
  display: block;
  border: 0;
  border-top: 1px solid #00b1b3;
  border-bottom: 1px solid #00b1b3;
  margin: 1em 0;
  padding: 0;
}

.markdown_css code {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 0.98em;
}

.markdown_css pre {
  background: #1a202c;
  padding: 20px 20px;
  border-radius: 10px;
  color: #fff;
  overflow-x: auto;
  margin: 20px 0px;
}

.markdown_css b,
.markdown_css strong {
  font-weight: bold;
}

.markdown_css ul,
.markdown_css ol {
  list-style-type: initial;
  margin: 1em 0;
  padding: 0 0 0 2em;
}

.markdown_css li p:last-child {
  margin: 0;
}

.markdown_css table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown_css td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  .markdown_css body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .markdown_css body {
    font-size: 16px;
  }
}

@media print {
  .markdown_css * {
    background: transparent !important;
    color: black !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }

  .markdown_css body {
    font-size: 12pt;
    max-width: 100%;
  }

  .markdown_css a,
  .markdown_css a:visited {
    text-decoration: underline;
  }

  .markdown_css hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  .markdown_css a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown_css abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown_css .ir a:after,
  .markdown_css a[href^="javascript:"]:after,
  .markdown_css a[href^="#"]:after {
    content: "";
  }

  .markdown_css pre,
  .markdown_css blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  .markdown_css tr,
  .markdown_css img {
    page-break-inside: avoid;
  }

  .markdown_css img {
    max-width: 100% !important;
  }

  .markdown_css p,
  .markdown_css h2,
  .markdown_css h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown_css h2,
  .markdown_css h3 {
    page-break-after: avoid;
  }
}

